@import '../../../../wp-admin/css/colors/modern/colors.css';

/** see admin-styles.css for more comprehensive admin customisations
	that apply even if a client colour theme file does not provide these variables */

body.admin-doubleedesign {
	--wp-admin-theme-color: var(--color-primary);
	--wp-admin-theme-color--rgb: var(--color-primary);
	--wp-admin-theme-color-darker-10: color-mix(in srgb, var(--wp-admin-theme-color) 90%, black);
	--wp-admin-theme-color-darker-10--rgb: var(--wp-admin-theme-color-darker-10);
	--wp-admin-theme-color-darker-20: color-mix(in srgb, var(--wp-admin-theme-color) 80%, black);
	--wp-admin-theme-color-darker-20--rgb: var(--wp-admin-theme-color-darker-20);
	--wp-block-synced-color: var(--color-secondary);
	--wp-bound-block-color: var(--color-secondary);
	--wp-admin-border-width-focus: 2px;
	--wp-admin-menu-bg: #0c0c0c;
	--wp-admin-link-color: color-mix(in srgb, var(--color-primary) 90%, black);
	--wp-admin-active-color-secondary: #211f21;
}

@media (min-resolution: 192dpi) {
	body.admin-doubleedesign {
		--wp-admin-border-width-focus: 1.5px;
	}
}

.wp-core-ui {
	a {
		color: var(--color-dark);
	}

	#category-add-toggle,
	#set-post-thumbnail,
	#misc-publishing-actions a {
		color: var(--color-dark);

		&:hover, &:focus {
			color: var(--wp-admin-theme-color);
		}
	}

	#wpadminbar,
	#adminmenu, #adminmenu, #adminmenuback, #adminmenuwrap {
		background: var(--wp-admin-menu-bg, #1e1e1e);
	}

	#adminmenu {
		.menu-counter,
		.awaiting-mod,
		.update-plugins {
			background: var(--color-accent);
			color: contrast-color(var(--color-accent));
		}

		li.current a.menu-top {
			background: var(--wp-admin-theme-color) !important;
		}

		li.wp-menu-open .wp-submenu {
			background: color-mix(in srgb, var(--wp-admin-menu-bg) 90%, white) !important;
		}

		a {
			&:hover, &:focus, &:active {
				background: var(--wp-admin-theme-color) !important;
			}
		}

		.wp-submenu {
			background: var(--wp-admin-menu-bg);

			a {
				&:hover,
				&:focus {
					color: white !important;
					background: transparent !important;
				}
			}
		}

		li.wp-has-submenu.wp-not-current-submenu.opensub:hover::after,
		li.wp-has-submenu.wp-not-current-submenu:focus-within::after {
			border-right-color: var(--wp-admin-menu-bg);
		}
	}

	a.page-title-action,
	.button {
		color: var(--color-dark);
		border-color: currentColor;
		text-decoration: underline;
		text-decoration-color: transparent;

		&:hover, &:focus, &:active {
			color: var(--wp-admin-theme-color);
			border-color: currentColor;
			text-decoration-color: currentColor;
			text-decoration-thickness: 1px;

			.dashicons {
				text-decoration: none;
			}
		}
	}

	.components-button.is-primary,
	.button-primary {
		color: white;
		border-color: var(--wp-admin-theme-color);
		text-decoration: underline;
		text-decoration-color: transparent;

		&:hover, &:focus, &:active {
			color: white !important;
			background-color: var(--wp-admin-theme-color-darker-20);
			border-color: var(--wp-admin-theme-color-darker-20) !important;
			filter: saturate(120%);
		}
	}

	input[type=reset]:hover,
	input[type=reset]:active {
		color: var(--wp-admin-theme-color-darker-10);
	}

	.wp-list-table {
		a.row-title {
			color: var(--wp-admin-link-color);
		}
	}

	.welcome-panel__content__header {
		background: var(--wp-admin-menu-bg, #1e1e1e);
		color: white;
	}

	.welcome-panel-list--secondary {

		li {
			a {
				color: var(--color-dark);

				.label {
					transition: all 0.3s ease-in-out;
					display: inline-block;
					text-decoration: underline;
					text-decoration-color: transparent;
					color: var(--color-dark);
				}

				&:hover, &:focus, &:active {
					.label {
						text-decoration-color: currentColor;
						text-decoration-thickness: 1px;
						text-decoration-skip-ink: all;
					}
				}
			}
		}
	}
}

.acf-flexible-content {
	> .acf-actions.acf-fc-top-actions {
		.acf-btn.acf-btn-clear {
			color: var(--wp-admin-link-color) !important;
		}
	}
}

.select2-container {
	.select2-results__option--highlighted[aria-selected] {
		background-color: var(--wp-admin-theme-color) !important;
	}
}

.acf-true-false {
	.acf-switch:hover,
	.acf-switch:focus {
		color: var(--wp-admin-theme-color) !important;
		border-color: var(--wp-admin-theme-color) !important;

		.acf-switch-slider {
			border-color: var(--wp-admin-theme-color) !important;
		}
	}

	.acf-switch.-on {
		background: var(--wp-admin-active-color-secondary) !important;
	}
}

.acf-ui-datepicker {

	.ui-datepicker {
		padding: 0.5rem;
	}

	.ui-datepicker-header {
		display: flex;
		align-items: center;
		justify-content: space-between;

		.ui-datepicker-prev,
		.ui-datepicker-next {
			height: 100%;
			transition: all 0.2s ease-in-out;

			.ui-icon {
				background-image: none;
				position: relative;
				display: inline-flex;
				justify-content: center;
				align-items: center;
				height: 100%;
				width: 100%;
				margin: 0;
				left: 0;
				top: 0;
				text-indent: 0 !important;
				font-size: 0;

				&:before {
					font: normal 2rem/1 dashicons;
					text-indent: unset;
					display: block;
					width: 100%;
				}
			}
		}

		.ui-datepicker-prev-hover,
		.ui-datepicker-next-hover {
			background: transparent !important;
			border: transparent !important;

			&:hover, &:focus {
				color: var(--wp-admin-theme-color) !important;
			}
		}

		.ui-datepicker-prev {
			.ui-icon {
				&:before {
					content: "\f141";
				}
			}
		}

		.ui-datepicker-next {
			.ui-icon {
				&:before {
					content: "\f139";
				}
			}
		}
	}

	.ui-datepicker-title {
		flex-grow: 1;
		display: flex;
		justify-content: center;
		gap: 0.25rem;
		font-weight: normal;
		margin: 0;
		max-width: 80%;

		select {
			margin: 0;
		}
	}

	.ui-datepicker-calendar {

		a {
			opacity: 1 !important;

			&:hover, &:focus {
				background: var(--wp-admin-theme-color) !important;
				border-color: var(--wp-admin-theme-color) !important;
			}
		}

		a.ui-state-default {
			&.ui-state-hover {
				background: var(--wp-admin-theme-color) !important;
				border-color: var(--wp-admin-theme-color) !important;
			}
		}

		a.ui-state-active {
			border-color: var(--wp-admin-active-color-secondary) !important;
			background: var(--wp-admin-active-color-secondary) !important;
		}

		.ui-datepicker-today {
		}

		.ui-datepicker-current-day {
		}
	}

	.ui-datepicker-buttonpane {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-block-start: 0.5rem !important;
		border: 0 !important;

		button {
			float: none;
			font-weight: normal !important;
			margin: 0 !important;
			padding: 0.5rem 0.75rem !important;
			transition: all 0.2s ease-in-out;
			border-color: #CCC !important;
			text-decoration: underline;
			text-decoration-color: transparent;
			font-size: 0.8rem !important;

			&:hover, &:focus {
				text-decoration-color: currentColor;
				text-decoration-thickness: 1px;
				text-decoration-skip-ink: all;
			}

			&.ui-priority-primary {

				&:hover, &:focus, &:active {
					background: var(--wp-admin-theme-color) !important;
					border-color: var(--wp-admin-theme-color) !important;
				}
			}

			&.ui-priority-secondary {
				opacity: 1 !important;
				background: white;

				&:hover, &:focus, &:active {
					color: var(--wp-admin-theme-color) !important;
					border-color: var(--wp-admin-theme-color) !important;
					background: inherit !important;
				}
			}


		}
	}
}
