#dashboard-widgets-wrap .meta-box-sortables.ui-sortable.empty-container {
	display: none;
}

.welcome-panel-close {
	pointer-events: none;
	display: none;
}

#welcome-panel {
	box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.15)
}

.welcome-panel__content {
}

.welcome-panel__content__header {
	padding: 2rem;
	color: white;

	h2 {
		color: inherit;
	}

	p.lead {
		font-size: 1.25rem;
		font-weight: 300;
	}
}

.welcome-panel__content__body {
	padding: 2rem;
	background: #FFF;
}

.welcome-panel-list {
	container-type: inline-size;
}

.welcome-panel-list--primary {
	display: flex;
	flex-wrap: wrap;
	gap: 0.5rem;
	margin: 0;
	padding: 0;

	li {
		width: 100%;
		flex-basis: 100%;
		margin: 0;

		.button {
			width: 100%;
			min-height: 80px !important;
			height: 100%;
			padding: 0.5rem !important;
			text-align: center;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			font-size: 1rem;
			font-weight: 300;

			.dashicons-before {
				line-height: 1;
			}

			.label {
				display: block;
				padding-inline: 0.25rem;
				text-wrap: wrap;
				line-height: 1.25;
			}
		}
	}
}

@container (min-width: 600px) {
	.welcome-panel-list--primary {
		li {
			width: 200px;
			flex-basis: 200px;
		}
	}
}

.welcome-panel-list--secondary {
	margin-block-start: 2rem;
	margin-block-end: 0;

	li {
		margin-block-end: 0.5rem;

		.label {
			display: inline-block;
		}
	}
}


li.toplevel_page_section-title-content,
li.toplevel_page_section-title-content a,
li.toplevel_page_section-title-shop,
li.toplevel_page_section-title-shop a,
li.toplevel_page_section-title-enquiries,
li.toplevel_page_section-title-enquiries a,
li.toplevel_page_section-title-people,
li.toplevel_page_section-title-people a,
li.toplevel_page_section-title-config,
li.toplevel_page_section-title-config a {
	pointer-events: none;
}

li.toplevel_page_section-title-content a,
li.toplevel_page_section-title-shop a,
li.toplevel_page_section-title-enquiries a,
li.toplevel_page_section-title-people a,
li.toplevel_page_section-title-config a {
	border-top: 1px solid rgba(255, 255, 255, 0.2);
	background: rgba(255, 255, 255, 0.075);
}

li.toplevel_page_section-title-content .wp-menu-name,
li.toplevel_page_section-title-shop .wp-menu-name,
li.toplevel_page_section-title-enquiries .wp-menu-name,
li.toplevel_page_section-title-people .wp-menu-name,
li.toplevel_page_section-title-config .wp-menu-name {
	font-weight: bold;
}

/* Hide some tabs that can't be properly removed but I'm not using */
.block-editor-tabbed-sidebar__tab[aria-controls*="patterns-view"],
.block-editor-tabbed-sidebar__tab[aria-controls*="media-view"] {
	pointer-events: none;
	display: none;
}


.toplevel_page_acf-options-global-options .wp-menu-name {
	white-space: nowrap;
	overflow-x: hidden;
	text-overflow: ellipsis;
	padding-left: 0 !important;
}

#wpadminbar,
#adminmenu, #adminmenu, #adminmenuback, #adminmenuwrap {
	background: #1e1e1e; /* make main menu and admin bar match the site editor */
}

.site-editor-php {
	/* Keep standard admin menus visible when in the site editor / patterns area */

	#site-editor {
		padding-top: 2rem;
		padding-left: 10rem;
	}

	#wpadminbar, #adminmenumain {
		display: block !important;
	}

	#adminmenumain {
		padding-top: 2rem;
	}

	/* Hide elements that are redundant in the site editor when the admin menus are visible */

	.edit-site-layout__sidebar {
		.edit-site-site-hub {
			display: none;
		}

		.edit-site-sidebar-navigation-screen__title-icon {
			padding: 1rem 1rem 0.5rem 1rem !important;

			a[aria-label="Go to the Dashboard"] {
				display: none !important;
			}
		}
	}

	/* Some tweaks to the site editor itself */

	.edit-site-layout {
		border-left: 1px solid rgba(255, 255, 255, 0.1);
	}

	.edit-site-layout__sidebar-region {
		width: 220px;
	}

}

.interface-interface-skeleton__body {
	container-type: inline-size;
}

@container (width < 1400px) {
	/** Block editor left sidebar width */
	.editor-list-view-sidebar,
	.interface-interface-skeleton__secondary-sidebar,
	.block-editor-tabbed-sidebar,
	.block-editor-tabbed-sidebar {
		width: 250px !important;
	}

	.block-editor-inserter__category-panel {
		left: 250px !important;
	}

	/* Layout of the blocks list */
	.block-editor-inserter__panel-content {
		padding: 0.5rem;

		.block-editor-block-types-list > div[role="presentation"] {
			display: block;

			.block-editor-block-types-list__list-item {
				width: 100%;

				> button {
					flex-direction: row;
					align-items: center;
					justify-content: flex-start;

					.block-editor-block-types-list__item-icon {
						padding: 0 0.5rem 0 0;
					}

					.block-editor-block-types-list__item-title {
						padding: 0;
						font-size: inherit;
					}
				}
			}
		}
	}
}


/** ACF fields - general **/
.acf-label:empty {
	display: none !important;
}

.acf-field[data-type="message"] {
	padding: 0 1rem !important;
	border: 0 !important;
	margin: 0.5rem 0 !important;

	.acf-input {
		padding: 0.5rem;
		box-sizing: border-box;
		background: color-mix(in srgb, var(--wp-admin-theme-color-darker-10) 10%, white);
		border: 1px solid var(--wp-admin-theme-color-darker-10);

		&:has(.third-party-integration-settings-links) {
			background: transparent;
			border: 0;
			padding: 0;
		}

		.third-party-integration-settings-links {
			margin: 0;
			padding-bottom: 1rem;

			li {
				display: flex;
				align-items: center;

				.dashicons {
					font-size: 1em;
					display: flex;
					align-items: center;
					margin-left: 0.25rem;
					position: relative;
					top: 1px;
					color: #2271b1;
				}
			}
		}
	}

	/** These are added in the "Presentation" tab of the field editor **/
	/* edit mode = notes to be shown while in edit mode */
	/* preview mode = notes to be shown while in preview mode */
	/* showing and hiding them are handled by further CSS below,
	   because at the time of writing ACF doesn't provide conditions for when to render messages */

	&.edit-mode-note,
	&.preview-mode-note,
	&.edit-mode-warning {
		.acf-label {
			display: none;
		}
	}

	&.edit-mode-note {
	}

	&.preview-mode-note {
	}

	&.edit-mode-warning {

		.acf-input {
			background: #fef8ee;
			border-color: #f0b849;
		}
	}
}

/** ACF fields - block editor (edit mode) **/
.editor-visual-editor {
	.acf-field[data-type="message"] {
		&.preview-mode-note {
			display: none;
		}
	}
}

/** ACF fields - block editor sidebar **/
.editor-sidebar {
	.acf-block-component.acf-block-panel {
		.acf-field {
			/*display: none;*/

			&[data-type="message"],
			&[data-type="true_false"],
			&[data-type="component_field"] {
				display: block;
			}

			&[data-type="message"] {
				&.edit-mode-note {
					display: none;
				}
			}
		}
	}
}

.nf-iframe-overlay {
	> iframe {
		width: 100%;
	}
}

/** Custom icon + tooltip instructions in labels */
label:has(button.acf-js-tooltip) {
	display: flex !important;
	align-items: center;
	gap: 0.125rem;

	button.acf-js-tooltip {
		appearance: none;
		border: 0;
		background: transparent;
		opacity: 0.5;
		transition: opacity 0.2s ease-in-out;
		padding: 0;
		font-size: 0.8rem;

		&:hover, &:focus {
			opacity: 1;
		}
	}
}
